* {
    text-align: center;
    align-items: center;
    position: relative;
    font-family: 'Press Start 2P', cursive;
    color: rgb(241, 255, 49);
}

body {

    width: 100vw;
    max-height: 60vh;  
    background-color: ivory;
    background-image: url(/max-mckinnon-c9OCWLka764-unsplash.jpg);
    background-size: cover;
    margin: 40px 0 40px;
}

/* //////////////////////// */
/* Display windows */

.start-screen {
    display: block;
}
.game-on {
    display: none;
}

.game-over-screen {
    display: none;
}

#monsterName {
    font-size: 30px;
    color: black;
    /* background: #333333; */
    text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
    /* animation: titleShadowPulse infinite 1s alternate; */
    margin: 50px 0 60px;
}

@keyframes titleShadowPulse {
    from {
        text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;

    }

    to {
        text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
    }
}

/* //////////////////////////////////////// */
            /* Start Screen */
/* //////////////////////////////////////// */


.start-screen {
    padding-top: 40px;
    align-items: center;
}

.greeting {
    color: black;
    font-size: 40px;
    text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
    animation: titleShadowPulse infinite 1s alternate;
}



input {
    height: 40px;
    margin: 40px 0 40px;
    text-align: left;
    background-color: indigo;
    animation: inputInticer 4s  infinite alternate ;
}

@keyframes inputInticer {
    from {
    background-color: indigo;
    color: hotpink
    }
    25% {
        background-color: hotpink;
        color: black;
    }
    50% {
        background-color: yellow;
        color: red;

    }
    50% {
        background-color: black;
        color: white

    }
    to {
    background-color: lawngreen;
    color: blue;
    }
}

.start-screen > button {
    margin-top: 10px;
    width: 160px;
    height: 50px;
    background-color: rgb(27, 24, 206);
    
}

.start-screen >button:hover {
    color: green;
    background-color: rgb(239, 255, 18);
}



/* //////////////////////////////////////// */
            /* Game Play windo */
/* //////////////////////////////////////// */


/* //////////////////////// */
/* Stat Bar Section */

.username-display {
    margin: 60px auto;
    font-size: 30px;
    color: black;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
    animation: titleShadowPulse infinite 1s alternate;
}

h4.stat- {
    margin: 0 auto;

}

.stat-bar-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
   
}
.stat-bar-flexbox {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 75%;
    /* position:relative; */  
}

.stat-name {
    text-align: center;
    margin: 0;
}

.stat-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.stat-bars {
    -webkit-appearance: none;
    appearance: none;
    width: 250px;
    height: 30px;
    margin: 5px;
    border: 2px solid black;
    color: green;
    background-color: ;
}

#age-display {
    margin: 3px auto;
    padding: 5px 10px;
    height: 20px;
    background-color: green;
    border: 2px solid black;
    font-weight: bold;
}




/* ///////////////////////////////// */
/* Monster Container and Creature */
.monster-box-container {
    display: flex;
    justify-content: center;
    margin: 20px;
    
}

.monster-box {
    width: 800px;
    height: 600px;
    background-color: none
;
    display: flex;
    justify-content: center;
    position: relative;
}
/* tamagotchi casing */
#outer-shell { 
    background-color: ivory;
    background-image: url(/cracked\ egg.jpg);
    background-size: contain;
    width: 400px;
    height: 500px;
    display: flex;
    justify-content: center;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
    -webkit-box-shadow: 11px 8px 8px 1px #000000; 
    box-shadow: 11px 8px 8px 1px #000000;

}

/* tamagotchi screen */
#inner-shell { 
    background-color: grey;
    background-image: url(/markus-spiske-iar-afB0QQw-unsplash.jpg);
    background-size: contain;
    top: -10px;
    width: 300px;
    height: 300px;
    border: 10px solid green;
    border-radius: 30%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;

}
/* creature */
.body-container {
    position: relative;
  
  
    animation: idleMovement;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-direction: alternate;
}

.container-dead {
    position: relative;
    top: 100px;
    left: -80px;
    transform: rotate(90deg);
    animation: ;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-direction: alternate;
}

@keyframes idleMovement {
    from {
        transform: translateY(0%);
    } 

    to {
        transform: translateY(30%);

    }
}



.creature-body {
    width: 100px;
    height: 100px;
    background-color: black;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border: 2px solid greenyellow ;

}

.eye-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    top: 30px;
}

.left-eye {
    background-color: white;
    width: 20px;
    height: 20px;
    border-radius: 75% 0;
    transform: rotate(45deg);
    position: relative;
    /* display: flex; */
    /* justify-content: center;  */
    /* align-items: center; */
    overflow: hidden;
}

.left-pupil {
    background-color: black;
    width: 5px;
    height: 5px;
    border: 3px solid blue;
    border-radius: 100px;
    position: absolute;
    top: 4px;
    left: 4px;
    animation: eyewander infinite 4s alternate;
    display: block;

}

.left-dead {
    width: 5px;
    height: 5px;
    position: absolute;
    top: 4px;
    left: 4px;
    color: black;
    display: none;
}

.left-shut {
    background-color: black;
    width: 50px;
    height: 50px;
    position: relative;
    top: -30;
    z-index: 2;
    display: none;
    animation: blinky infinite 1s forwards;

}



.right-eye{ 
    background-color: white;
    width: 20px;
    height: 20px;
    border-radius: 75% 0;
    transform: rotate(45deg);
    /* display: flex;
    justify-content: center; */
    align-items: center;


}

.right-pupil {
    background-color: black;
    width: 5px;
    height: 5px;
    border: 3px solid blue;
    border-radius: 100px;
    position: relative;
    top: 4px;
    left: 4px;
    animation: eyewander infinite 4s alternate, blink 1s;
    display: block;
}
.right-dead {
    width: 5px;
    height: 5px;
    position: absolute;
    top: 4px;
    left: 4px;
    color: black;
    display: none;
}


@keyframes blinky {
    from {
        display: none;
    } 

    50% {
        display: block;

    }
    60% {
        display: none;

    }

    70% {
        display: block;

    }
    to {
        display: none;


    }
}

@keyframes eyewander{
    from {
        top: 4px;
        left: 4px;
    }
    10% {
        top: 4px;
        left: 0px;
    }
    20% {
        top: -2px;
        left: 8px;
    }
    30% {
        top: -2px;
        left: 10px;
    }

    40% {
        top: -2px;
        left: 8px;
    }
    to {
        top: 4px;
        left: 4px;
    }
}
.mouth-container {
    display: flex;
    justify-content: center;
    position: relative;
    top: 50px;
}

.mouth {
    width: 30px;
    height: 8px;
    background-color: white;
    border-radius: 50%;
}
ellipse {
    width: 30px;
    height: 8px;
    background-color: red;
    border-radius: 50%;
}


.legs {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

.left-leg {
    width: 25px;
    height: 40px;
    background-color: #5a4040;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    border: 2px solid greenyellow ;

 
}
.right-leg {
    width: 25px;
    height: 40px;
    background-color: #5a4040;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    border: 2px solid greenyellow ;


}



/* ///////////////////////////////// */
/* Controls */

.control-buttons {
   display: flex;
   justify-content: center;
}

.control-button-container {
    width: 50vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}



.game-over{
    display: none;
}

#feed, #play, #sleep {
    font-size: 18px;
    width: 150px;
    height: 100px;
    background-color: rgb(27, 24, 206);
}

#feed:hover, #play:hover, #sleep:hover {
    color: green;
    background-color: rgb(239, 255, 18);
}

/* //////////////////////////////////////// */
            /* Game Over screen */
/* //////////////////////////////////////// */


#game-over-loud {
    color: black;
    margin: 200px auto;
    font-size: 150px;
    animation: gameOverBlowUp 2.5s ease-in, titleShadowPulse infinite 1s alternate ;
    text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
    /* animation: titleShadowPulse infinite 1s alternate */
}

@keyframes gameOverBlowUp {
    from {
        font-size: 6px;
        color: white;
        opacity: 0.2;
    }

    to {
        font-size: 150px;
        color: black;
        opacity: 1;

    }
}

#game-over-message, span {
    color: black;
    margin-top: 60px;
    text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
    /* animation: titleShadowPulse infinite 1s alternate; */


}

#try-again-button {
    margin-top: 5%;
    width: 200px;
    height: 100px;
    background-color: rgb(27, 24, 206);
}

#try-again-button:hover {
    animation: titleShadowPulse infinite 1s alternate;
    color: black;
    /* animation: inputInticer 4s  infinite alternate ; */
    background-color: rgb(239, 255, 18);


}