* {
    text-align: center;
    align-items: center;
    position: relative;
    font-family: 'Press Start 2P', cursive;
}

body {
    width: 100vw;
    height: 100vh;  
    background-color: ivory;
}

/* //////////////////////// */
/* Display windows */

.start-screen {
    display: block;
}
.game-on {
    display: none;
}

.game-over {
    display: none;
}


/* //////////////////////////////////////// */
            /* Start Windo */
/* //////////////////////////////////////// */

.greeting {
    margin: 175px 0 50px 0;
    font-size: 40px;
}

input {
    height: 30px
}

.start-screen > button {
    margin-top: 10px;
    width: 150px;
    height: 50px;
}



/* //////////////////////////////////////// */
            /* Game Play windo */
/* //////////////////////////////////////// */


/* //////////////////////// */
/* Stat Bar Section */

h4.stat- {
    margin: 0 auto;

}

.stat-bar-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position:relative;
}

.stat-name {
    text-align: center;
    margin: 0;
}

.stat-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.stat-bars {
    -webkit-appearance: none;
    
    width: 250%;
    height: 30px;
    margin: 5px;
    border: 2px solid black;
    color: green;
}

#age-display {
    margin: 3px auto;
    padding: 5px 10px;
    height: 20px;
    background-color: green;
    border: 2px solid black;

    font-weight: bold;
}




/* ///////////////////////////////// */
/* Monster Div */
.monster-box-container {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.monster-box {
    width: 800px;
    height: 600px;
    background-color: lightblue;
}

/* ///////////////////////////////// */
/* Controls */

.control-buttons {
   display: flex;
   justify-content: center;
}

.control-button-container {
    width: 50vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}



.game-over{
    display: none;
}

#feed, #play, #sleep {
    width: 150px;
    height: 100px;
}




